diskcachepath=PATH_TO_DISK_CACHE
heightdataserviceurl=https://api.maptiler.com/tiles/terrain-rgb-v2/
overlaydataserviceurl=https://api.maptiler.com/tiles/satellite-v2/
heightdataservicekey=API_KEY
overlaydataservicekey=API_KEY
memorycachesize=400
diskacachesize=8000
lowmeshres=16
mediummeshres=32
highmeshres=64
numloadworkers=5
datapath=PATH_TO_DATA_FOLDER
maxzoom=14
